<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>주거니받거니에 오신것을 환영합니다.</h1>
      <p>
      회원 인증을 위해 아래의 인증번호를 제출해주세요.<br>
      <br>
    <%= @random_number %>
    <p>가입해주셔서 감사합니다.</p>
  </body>
</html>