<style>
    div.container_confirm {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 80px;
        width: 40%;
        margin: 50px auto 100px auto
    }
</style>

<div id="about" class="paddsection">
    <div class="container">
        <div class="text-center">
            <div class="container_confirm">
                <h2>인증하기</h2><br><br>
                    <%=form_tag(users_create_path, method: "post", name: "schform") do %>
                        <i class="fa fa-envelope icon"></i> 포털 아이디를 입력하세요<br>
                        <%=text_field_tag 'receiver_email', nil, placeholder: '포털 아이디'%><br><br>
                        <i class="fa fa-user icon"></i> 
                        학교를 선택하세요<br>
                        <select name ="school">
                            <option value="none">학교 선택</option>
                            <option value="@gachon.ac.kr">가천대학교</option>
                            <option value="@konkuk.ac.kr">건국대학교</option>
                            <option value="@kyonggi.ac.kr">경기대학교</option>
                            <option value="@khu.ac.kr">경희대학교</option>
                            <option value="@korea.ac.kr">고려대학교</option>
                            <option value="@kookmin.ac.kr">국민대학교</option>
                            <option value="@duksung.ac.kr">덕성여자대학교</option>
                            <option value="@dongguk.ac.kr">동국대학교</option>
                            <option value="@dongduk.ac.kr">동덕여자대학교</option>
                            <option value="@mju.ac.kr">명지대학교</option>
                            <option value="@smu.ac.kr">상명대학교</option>
                            <option value="@sogang.ac.kr">서강대학교</option>
                            <option value="@snu.ac.kr">서울대학교</option>
                            <option value="@uos.ac.kr">서울시립대학교</option>
                            <option value="@swu.ac.kr">서울여자대학교</option>
                            <option value="@skku.ac.kr">성균관대학교</option>
                            <option value="@sungshin.ac.kr">성신여자대학교</option>
                            <option value="@sookmyung.ac.kr">숙명여자대학교</option>
                            <option value="@ssu.ac.kr">숭실대학교</option>
                            <option value="@ewha.ac.kr">이화여자대학교</option>
                            <option value="@yonsei.ac.kr">연세대학교</option>
                            <option value="@cau.ac.kr">중앙대학교</option>
                            <option value="@hufs.ac.kr">한국외국어대학교</option>
                            <option value="@hangyang.ac.kr">한양대학교</option>
                            <option value="@hongik.ac.kr">홍익대학교</option>
                        </select><br><br>
                        <input type=button class='btn' onclick='check()' value="확인">
                    <%end%>
            </div>
        </div>
    </div>
</div>
    
    
<script>
function check(){
    if(!document.schform.receiver_email.value){
        alert("학번을 입력해주세요.");
        return document.schform.receiver_email.focus();
    }
    if(document.schform.school.options[document.schform.school.selectedIndex].value == "none"){
        alert("학교를 선택해주세요.");
        return;
    }
    document.schform.submit();
}
</script>
    