<style>
    div.container_confirm {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 80px;
        width: 40%;
        margin: 50px auto 100px auto
    }
</style>
<div id="about" class="paddsection">
    <div class="container">
        <div class="text-center">
        <div class="container_confirm">
        <h2>인증하기</h2><br>   
        <%=form_tag(users_authen_path, method: "post") do %>
        <%=text_field_tag 'authen', nil, placeholder: '인증 번호' %>
        <%= button_to '확인', users_authen_path, :class => 'btn', method: :post%>
        <%end%>
        </div>
        </div>
    </div>
</div>
