<!DOCTYPE html>
<html lang="en">
<head>
	<title>주거니받거니</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- library CSS File -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/Linearicons-Free-v1.0.0/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="/assets/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/animsition/css/animsition.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/daterangepicker/daterangepicker.css">

	<link rel="stylesheet" type="text/css" href="/assets/util.css">
	<link rel="stylesheet" type="text/css" href="/assets/main.css">

	<!-- Main Stylesheet File -->
    <link href="/assets/style.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/reunion.png">
</head>
<body>
<!-- start section navbar -->
      <nav id="main-nav">
        <div class="row">
          <div class="container">
    
            <div class="logo col-3">
              <a href="/"><img src="/assets/logo.png" alt="logo" style="width:30%; height:auto;"></a>
            </div>
    
            <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>
            
           
          </div>
        </div>
      </nav>
      <!-- End section navbar -->
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<%= yield %>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	

	<script src="/assets/jquery/jquery.min.js"></script>

	<script src="/assets/animsition/js/animsition.min.js"></script>

	<script src="/assets/bootstrap/js/popper.js"></script>
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>

	<script src="/assets/select2/select2.min.js"></script>

	<script src="/assets/daterangepicker/moment.min.js"></script>
	<script src="/assets/daterangepicker/daterangepicker.js"></script>

	<script src="/assets/countdowntime/countdowntime.js"></script>

	<script src="/assets/user.js"></script>

</body>
</html>